@model ZdravaHranaNinaEntities.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BestBefore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BestBefore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateManifactured)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateManifactured)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manifacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manifacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shipping)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shipping)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoldItems)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoldItems)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAdded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryOFOrigin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryOFOrigin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Popularity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Popularity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ByWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ByWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ByPeace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ByPeace)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
